#btnAddFolder {
    border-radius: 5px;
    background-color: azure;
    width: 200px;
    margin-left: 600px;
    padding: 20px;
    cursor: pointer;
}

#btnAddFolder:hover {
    transform: scale(1.02);
}

#divBreadCrumb {
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.path {
    cursor: pointer;

    background-color: gray;
    color: black;

    padding: 10px;
    border-right: 3px solid black;
}

.path:hover{
    background-color: white;
    color: blue;
    text-decoration: underline;
}

#divContainer {
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
}

.folder {
    background-color: teal;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    padding: 10px;
    margin: 10px;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}

div[purpose=name]{
    margin-top: 50px;
    color: white;
}